<style type="text/css">
    body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 12px;
            line-height: 1.428571429;
            color: #333333;
            background-color: #ffffff;
        }

    .table {
        table-layout: fixed;
        width: 100%;
    }

    .table thead th {
        background-color: #eee !important;
    }

    .table thead {
        margin-bottom: 5px !important;
        background-color: grey !important;
    }

    .table tr {
        border-bottom: 1px solid #dfdfdf;
    }

    .table th, td {
        padding: 5px;
        padding-bottom: 0;
    }

    td {
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .fs-xs{
        font-size: 8px !important;
    }

    .fs-sm{
        font-size: 12px !important;
    }

    .fs-md{
        font-size: 16px !important;
    }

    .fs-lg{
        font-size: 23px !important;
    }

    .fs-xg{
        font-size: 30px !important;
    }

    .text-left{
        text-align: left !important;
    }

    .text-right{
        text-align: right !important;
    }

    .text-center{
        text-align: center !important;
    }

    .text-justify{
        text-align: justify !important;
    }
</style>